@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');

body, html {
  font-family: 'Hina Mincho', serif !important;
  height: 100%;
  margin: 0;
}
  
.container {
  background-color: black;
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.paper {
  padding-top: 200px;
  width: 250px;
  height: 500px;
  -webkit-perspective: 500px;
  perspective: 500px;
}

.paper > img {
  max-width: 100%;
  max-height: 100%;
  transform: rotateY(35deg);
  position: relative;
  margin: 0 auto;
  top: 10px;
  -webkit-transform: rotateY(35deg);
  transform: rotateY(35deg);
}

.paper > .text {
  position: absolute;
  top: 40%;
  left: 10%;
  padding-right: 20px;
  transform: translate(-50%, -50%);
  transform: rotateY(35deg);
  -webkit-transform: rotateY(35deg);
  transform: rotateY(35deg);
}

.door{
  background-color: black;
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.css-typing p {
  margin: 0;
  border-right: .15em solid orange;
  font-size: 32px;
  white-space: nowrap;
  overflow: hidden;
}

.css-typing p:nth-child(1) {
  width: 9em;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(2) {
  width: 10em;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 2.3s;
  animation-delay: 2.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(3) {
  width: 8em;
  opacity: 0;
  -webkit-animation: type3 2s steps(40, end);
  animation: type3 2s steps(40, end);
  -webkit-animation-delay: 4.1s;
  animation-delay: 4.1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.theLock{
  cursor: pointer;
}

.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.cen {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.chat {
  font-size: 30; 
  border: none; 
  width: 220px; 
  height: 100px;
}

.chat::-webkit-scrollbar {
  display: none;
}
